# Alternative emails for Learn-OCaml contributors
#
# This file allows to join the different accounts of a same person.
#
# If you are mentioned here and want to update your information,
# either amend this file or contact the learn-ocaml maintainers.

Maxime Salvagnac <maxime.salvagnac@univ-tlse3.fr>                      Aleridia <maxdu34.m@gmail.com>
Emile Rolley <erolley@tutamail.com>                                    Emile Rolley <44124798+EmileRolley@users.noreply.github.com>
Emile Rolley <erolley@tutamail.com>                                    EmileRolley <erolley@tutamail.com>
Erik Martin-Dorel <erik@martin-dorel.org>                              Erik Martin-Dorel <erik.martin-dorel@irit.fr>
Etienne MARAIS <etienne@maiste.fr>                                     Etienne Marais <etienne@maiste.fr>
Louis Ayroles <louis.ayroles@master-developpement-logiciel.fr>         LouisAyroles <louis.ayroles@master-developpement-logiciel.fr>
Yann Régis-Gianas <yann.regis-gianas@nomadic-labs.com>                 Yann Régis Gianas <448623+yurug@users.noreply.github.com>
Yann Régis-Gianas <yann.regis-gianas@nomadic-labs.com>                 Yann Regis-Gianas <yann@regis-gianas.org>
Yann Régis-Gianas <yann.regis-gianas@nomadic-labs.com>                 Yann Régis Gianas <yann@regis-gianas.org>
Yann Régis-Gianas <yann.regis-gianas@nomadic-labs.com>                 Yann Regis-Gianas <yrg@irif.fr>
Yann Régis-Gianas <yann.regis-gianas@nomadic-labs.com>                 Yann Régis Gianas <yrg@irif.fr>
Yoan Mollet <yoan.mollet@univ-tlse3.fr>                                YoanwM <82458449+YoanwM@users.noreply.github.com>
Yoan Mollet <yoan.mollet@univ-tlse3.fr>                                YoanwM <yoan.mollet@univ-tlse3.fr>
